In [20]:
%matplotlib inline
#load packages and data
import datetime
import holidays
import re #regular expressions
import MySQLdb
import pandas.io.sql as sql
import pandas as pd
import numpy as np
import scipy.stats
from matplotlib import pyplot as plt
pd.set_option('display.max_rows', 2000)
import seaborn as sns

In [21]:
#get data from db
conn = MySQLdb.connect(host="localhost", port=3306, user="root", db="disney_db") #make db connection
cursor = conn.cursor()

In [22]:
#import twitter data
cursor.execute("SELECT id, timestamp, location FROM twitter_data_copy WHERE location = 'anaheim' AND timestamp > '2015-08-04' AND timestamp < '2015-09-12' ")
rows = cursor.fetchall()
tweetdf = pd.DataFrame( [[ij for ij in i] for i in rows] )
tweetdf.rename(columns={0: 'tweetid', 1: 'timestamps'}, inplace=True)
print tweetdf.head()

   tweetid          timestamps        2
0      722 2015-08-04 16:58:00  anaheim
1      723 2015-08-04 16:52:00  anaheim
2      724 2015-08-04 16:52:00  anaheim
3      725 2015-08-04 16:50:00  anaheim
4      726 2015-08-04 16:49:00  anaheim

In [23]:
#import wait time data
cursor.execute("SELECT * FROM recorded_ca_crowd_data")
wtrows = cursor.fetchall()
#print wtrows
waitdf = pd.DataFrame( [[ij for ij in i] for i in wtrows] )
print waitdf.head()

                   0              1   2   3     4   5   6   7   8   9  ...  \
0 2015-08-04 03:54:39  1438685370401  -5   0  68.5   0   0   0   0   0 ...
1 2015-08-04 03:54:39  1438685370404  -5   0  68.5   0   0   0   0   0 ...
2 2015-08-04 03:54:39  1438685679566  -5   0  68.5   0   0   0   0   0 ...
3 2015-08-04 03:54:39  1438685679566  -5   0  68.5   0   0   0   0   0 ...
4 2015-08-04 03:54:39  1438685679566  -5   0  68.5   0   0   0   0   0 ...

   17  18  19  20  21  22  23  24  25  26
0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   0   0   0   0
3   0   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   0   0   0   0

[5 rows x 27 columns]

In [24]:
alltimes = waitdf.ix[:,5:34]
alltimes2 = alltimes.apply(lambda x: pd.to_numeric(x, errors='coerce'))
#print alltimes2.ix[:,5]
meanwaits = pd.DataFrame(alltimes2.apply(np.nanmean, axis=1))
meanwaits.rename(columns={0: 'meanwait'}, inplace=True)
meanwaits.head()
#nb: this runs an error but it's ok, it's the mean of empty groups

   meanwait
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0

In [25]:
frames = [waitdf.ix[:,0], meanwaits]
dl_data = pd.concat(frames, axis=1)
dl_data = dl_data.dropna()
dl_data.rename(columns={0: 'timestamp'}, inplace=True)
print dl_data.head()
#dl_data.plot(x='timestamp', y='meanwait')

            timestamp  meanwait
0 2015-08-04 03:54:39       0.0
1 2015-08-04 03:54:39       0.0
2 2015-08-04 03:54:39       0.0
3 2015-08-04 03:54:39       0.0
4 2015-08-04 03:54:39       0.0

In [26]:
#bin wait time data by hour
dl_data['hod'] = [datetime.datetime(dt.year, dt.month, dt.day, dt.hour) for dt in dl_data.timestamp]
dl_meanwait_by_hour = pd.DataFrame(dl_data.groupby(['hod'])['meanwait'].mean()).reset_index('hod')
dl_meanwait_by_hour.set_index=dl_meanwait_by_hour['hod']
dl_meanwait_by_hour.head()

                  hod   meanwait
0 2015-08-04 03:00:00   0.000000
1 2015-08-04 04:00:00   0.000000
2 2015-08-04 08:00:00   0.000000
3 2015-08-04 14:00:00  34.318182
4 2015-08-04 15:00:00  34.431818

In [27]:
#now bin tweets by hour
tweetdf['hod'] = [datetime.datetime(dt.year, dt.month, dt.day, dt.hour) for dt in tweetdf.timestamps]
tweets_per_hour = pd.DataFrame(tweetdf.groupby(['hod'])['tweetid'].count()).reset_index()
tweets_per_hour.head()

                  hod  tweetid
0 2015-08-04 00:00:00        9
1 2015-08-04 01:00:00        9
2 2015-08-04 04:00:00        2
3 2015-08-04 07:00:00        3
4 2015-08-04 08:00:00       11

In [28]:
#join tables
tweetwaits = pd.merge(dl_meanwait_by_hour, tweets_per_hour, on='hod')
tweetwaits['hour'] = [dt.hour for dt in tweetwaits.hod]
tweetwaits.head()

                  hod   meanwait  tweetid  hour
0 2015-08-04 04:00:00   0.000000        2     4
1 2015-08-04 08:00:00   0.000000       11     8
2 2015-08-04 14:00:00  34.318182       12    14
3 2015-08-04 15:00:00  34.431818       13    15
4 2015-08-04 16:00:00  34.772727       17    16

In [32]:
#run a test correlation meanwait and tweets?
#cortest = scipy.stats.pearsonr(tweetwaits.meanwait, tweetwaits.tweetid)
cortest = scipy.stats.pearsonr(np.log(tweetwaits.meanwait+1), np.log(tweetwaits.tweetid + 1))
cortest #not great but significant

(0.11105832259363045, 0.023157745055188538)

In [33]:
#import weather data
cursor.execute("SELECT TemperatureF, Wind_SpeedMPH, PrecipitationIN, Conditions, DateUTC FROM anaheim_weather WHERE DateUTC > '2015-08-03' AND DateUTC < '2015-09-13' ")
wrows = cursor.fetchall()
weatherdf = pd.DataFrame( [[ij for ij in i] for i in wrows] )
weatherdf.rename(columns={0: 'temp', 1:'wind', 2:'precip', 3:'conditions', 4:'datetimeUTC'}, inplace=True)

In [34]:
#fix time zone on weather data
weatherdf['datetimeUTC'] =  pd.to_datetime(weatherdf['datetimeUTC'], format='%Y-%m-%d %H:%M:%S.')
weatherdf['timestamp'] = weatherdf['datetimeUTC'] - datetime.timedelta(hours=8)
weatherdf['hod'] = [datetime.datetime(dt.year, dt.month, dt.day, dt.hour) for dt in weatherdf.timestamp] 
weatherdf.head()

,temp,wind,precip,conditions,datetimeUTC,timestamp,hod
0,81.0,6.9,N/A,Clear,2015-08-03 00:53:00,2015-08-02 16:53:00,2015-08-02 16:00:00
1,79.0,4.6,N/A,Clear,2015-08-03 01:53:00,2015-08-02 17:53:00,2015-08-02 17:00:00
2,77.0,5.8,N/A,Clear,2015-08-03 02:53:00,2015-08-02 18:53:00,2015-08-02 18:00:00
3,75.0,Calm,N/A,Clear,2015-08-03 03:53:00,2015-08-02 19:53:00,2015-08-02 19:00:00
4,73.0,3.5,N/A,Clear,2015-08-03 04:53:00,2015-08-02 20:53:00,2015-08-02 20:00:00

In [35]:
#bin weather data
weatherdf['wind']= weatherdf['wind'].astype(str)
weatherdf.loc[weatherdf.wind == 'Calm'] = 0
weatherdf['wind'] = pd.to_numeric(weatherdf['wind'])
weatherdf.loc[weatherdf.wind < -100] = float('NaN')
hourly_weather = pd.DataFrame(weatherdf.groupby(['hod']).agg({'temp': np.nanmean, 'wind': np.nanmean, 'conditions': 'first'})).reset_index()
hourly_weather.head()

                  hod conditions  wind  temp
0 1970-01-01 00:00:00          0   0.0   0.0
1 2015-08-02 16:00:00      Clear   6.9  81.0
2 2015-08-02 17:00:00      Clear   4.6  79.0
3 2015-08-02 18:00:00      Clear   5.8  77.0
4 2015-08-02 20:00:00      Clear   3.5  73.0

In [36]:
#join to existing table
tweetwaits = pd.merge(tweetwaits, hourly_weather, on='hod')
#tweetwaits['hour'] = [dt.hour for dt in tweetwaits.hod]

In [37]:
#get business days and holidays
#tweetwaits.info() #get info on the dataframe
tweetwaits['business_day'] = [dt.weekday() >= 5 for dt in tweetwaits.hod]
us_holidays = holidays.UnitedStates()
tweetwaits['holiday'] = [day in us_holidays for day in tweetwaits.hod]

In [38]:
myfunc = lambda tweetwaits: True if ((tweetwaits['holiday']) or (tweetwaits['business_day'])) else False
tweetwaits['we_ho'] = tweetwaits.apply(myfunc, axis=1)

In [40]:
#preview data
tweetwaits

,hod,meanwait,tweetid,hour,conditions,wind,temp,business_day,holiday,we_ho
0,2015-08-04 14:00:00,34.318182,12,14,Clear,6.900000,89.100000,False,False,False
1,2015-08-04 15:00:00,34.431818,13,15,Clear,5.800000,89.100000,False,False,False
2,2015-08-04 16:00:00,34.772727,17,16,Clear,8.100000,87.100000,False,False,False
3,2015-08-04 17:00:00,33.920455,8,17,Clear,6.900000,82.000000,False,False,False
4,2015-08-04 18:00:00,33.409091,13,18,Clear,4.600000,78.100000,False,False,False
5,2015-08-04 19:00:00,31.818182,21,19,Clear,4.600000,75.900000,False,False,False
6,2015-08-04 21:00:00,28.068182,14,21,Clear,4.600000,73.900000,False,False,False
7,2015-08-05 08:00:00,6.647727,2,8,Clear,3.500000,80.100000,False,False,False
8,2015-08-05 09:00:00,25.568182,8,9,Clear,5.800000,84.900000,False,False,False
9,2015-08-05 10:00:00,29.090909,13,10,Clear,6.900000,86.000000,False,False,False
10,2015-08-05 11:00:00,30.340909,9,11,Clear,6.900000,84.900000,False,False,False
11,2015-08-05 13:00:00,30.909091,9,13,Clear,6.900000,93.000000,False,False,False
12,2015-08-05 14:00:00,32.784091,3,14,Clear,6.900000,93.900000,False,False,False
13,2015-08-05 15:00:00,31.704545,8,15,Clear,10.400000,93.900000,False,False,False
14,2015-08-05 16:00:00,33.522727,13,16,Clear,6.900000,89.100000,False,False,False
15,2015-08-05 17:00:00,35.000000,12,17,Clear,5.800000,84.000000,False,False,False
16,2015-08-05 18:00:00,32.348485,13,18,Clear,4.600000,81.000000,False,False,False
17,2015-08-05 20:00:00,30.738636,22,20,Clear,3.500000,75.900000,False,False,False
18,2015-08-06 08:00:00,2.954545,10,8,Clear,6.900000,78.100000,False,False,False
19,2015-08-06 09:00:00,8.125000,9,9,Clear,6.900000,80.100000,False,False,False
20,2015-08-06 10:00:00,12.272727,13,10,Clear,5.800000,80.100000,False,False,False
21,2015-08-06 11:00:00,15.738636,10,11,Partly Cloudy,6.900000,78.100000,False,False,False
22,2015-08-06 12:00:00,16.818182,22,12,Partly Cloudy,4.600000,78.100000,False,False,False
23,2015-08-06 13:00:00,18.977273,8,13,Clear,9.200000,81.000000,False,False,False
24,2015-08-06 14:00:00,18.636364,18,14,Clear,5.800000,80.100000,False,False,False
25,2015-08-06 15:00:00,19.715909,8,15,Clear,5.800000,81.000000,False,False,False
26,2015-08-06 16:00:00,22.878788,11,16,Clear,9.200000,81.000000,False,False,False
27,2015-08-06 17:00:00,17.613636,18,17,Clear,5.800000,79.000000,False,False,False
28,2015-08-06 18:00:00,19.602273,12,18,Clear,5.800000,75.000000,False,False,False
29,2015-08-06 19:00:00,20.454545,8,19,Clear,3.500000,73.000000,False,False,False
30,2015-08-06 20:00:00,16.250000,21,20,Clear,6.900000,71.100000,False,False,False
31,2015-08-06 21:00:00,12.386364,18,21,Clear,8.100000,71.100000,False,False,False
32,2015-08-06 22:00:00,1.931818,10,22,Mostly Cloudy,5.800000,69.100000,False,False,False
33,2015-08-06 23:00:00,0.000000,4,23,Scattered Clouds,6.350000,69.100000,False,False,False
34,2015-08-07 08:00:00,8.181818,4,8,Overcast,8.100000,72.000000,False,False,False
35,2015-08-07 09:00:00,13.295455,11,9,Overcast,5.800000,73.900000,False,False,False
36,2015-08-07 10:00:00,14.829545,8,10,Partly Cloudy,8.100000,75.900000,False,False,False
37,2015-08-07 11:00:00,11.515152,10,11,Clear,8.100000,78.100000,False,False,False
38,2015-08-07 12:00:00,19.090909,11,12,Clear,6.900000,77.000000,False,False,False
39,2015-08-07 13:00:00,18.352273,5,13,Clear,8.100000,80.100000,False,False,False
40,2015-08-07 14:00:00,17.784091,13,14,Clear,4.600000,78.100000,False,False,False
41,2015-08-07 15:00:00,16.136364,8,15,Clear,9.200000,78.100000,False,False,False
42,2015-08-07 16:00:00,19.034091,6,16,Clear,8.100000,75.900000,False,False,False
43,2015-08-07 17:00:00,16.079545,11,17,Clear,6.900000,73.900000,False,False,False
44,2015-08-07 18:00:00,16.022727,12,18,Clear,4.600000,73.000000,False,False,False
45,2015-08-07 19:00:00,17.897727,18,19,Mostly Cloudy,5.200000,71.100000,False,False,False
46,2015-08-07 20:00:00,19.696970,10,20,Overcast,5.800000,70.000000,False,False,False
47,2015-08-08 08:00:00,3.011364,6,8,Scattered Clouds,3.500000,73.900000,True,False,True
48,2015-08-08 10:00:00,12.613636,11,10,Clear,5.800000,79.000000,True,False,True
49,2015-08-08 11:00:00,14.886364,16,11,Clear,5.800000,81.000000,True,False,True
50,2015-08-08 12:00:00,14.090909,11,12,Clear,8.100000,82.000000,True,False,True
51,2015-08-09 08:00:00,6.988636,5,8,Overcast,4.600000,69.100000,True,False,True
52,2015-08-09 10:00:00,13.295455,12,10,Mostly Cloudy,4.600000,73.900000,True,False,True
53,2015-08-09 11:00:00,14.715909,14,11,Scattered Clouds,5.200000,77.000000,True,False,True
54,2015-08-09 13:00:00,14.772727,19,13,Clear,10.400000,79.000000,True,False,True
55,2015-08-09 14:00:00,19.772727,17,14,Clear,9.200000,78.100000,True,False,True
56,2015-08-09 15:00:00,20.227273,15,15,Clear,9.200000,77.000000,True,False,True
57,2015-08-09 16:00:00,18.011364,15,16,Clear,9.200000,73.900000,True,False,True
58,2015-08-09 17:00:00,16.875000,15,17,Clear,9.200000,72.000000,True,False,True
59,2015-08-09 18:00:00,17.386364,24,18,Clear,3.500000,71.100000,True,False,True
60,2015-08-10 10:00:00,12.272727,16,10,Mostly Cloudy,4.600000,75.000000,False,False,False
61,2015-08-10 11:00:00,15.965909,15,11,Clear,3.500000,78.100000,False,False,False
62,2015-08-10 12:00:00,21.439394,11,12,Clear,3.500000,81.000000,False,False,False
63,2015-08-11 08:00:00,3.750000,5,8,Overcast,4.600000,70.000000,False,False,False
64,2015-08-11 10:00:00,12.272727,7,10,Scattered Clouds,4.650000,75.450000,False,False,False
65,2015-08-11 12:00:00,15.795455,20,12,Clear,5.800000,82.900000,False,False,False
66,2015-08-11 13:00:00,11.742424,11,13,Clear,5.800000,82.000000,False,False,False
67,2015-08-12 08:00:00,7.840909,6,8,Clear,4.600000,77.000000,False,False,False
68,2015-08-12 09:00:00,11.534091,10,9,Clear,4.600000,82.000000,False,False,False
69,2015-08-12 11:00:00,14.034091,12,11,Clear,6.900000,90.000000,False,False,False
70,2015-08-12 12:00:00,19.431818,8,12,Clear,5.800000,89.100000,False,False,False
71,2015-08-12 13:00:00,19.204545,23,13,Clear,9.200000,91.900000,False,False,False
72,2015-08-12 14:00:00,17.500000,8,14,Clear,4.600000,91.000000,False,False,False
73,2015-08-12 15:00:00,14.545455,13,15,Clear,8.100000,89.100000,False,False,False
74,2015-08-12 16:00:00,16.136364,18,16,Clear,6.900000,86.000000,False,False,False
75,2015-08-12 17:00:00,13.409091,20,17,Clear,4.600000,84.000000,False,False,False
76,2015-08-12 19:00:00,16.022727,14,19,Clear,3.500000,78.100000,False,False,False
77,2015-08-12 20:00:00,13.352273,22,20,Clear,4.600000,75.900000,False,False,False
78,2015-08-12 21:00:00,7.386364,19,21,Clear,4.600000,75.000000,False,False,False
79,2015-08-12 22:00:00,1.875000,13,22,Clear,3.500000,73.000000,False,False,False
80,2015-08-12 23:00:00,0.000000,11,23,Clear,3.500000,73.000000,False,False,False
81,2015-08-13 08:00:00,3.409091,8,8,Clear,3.500000,81.000000,False,False,False
82,2015-08-13 09:00:00,8.636364,10,9,Clear,3.500000,86.000000,False,False,False
83,2015-08-13 10:00:00,10.795455,17,10,Clear,4.600000,90.000000,False,False,False
84,2015-08-13 11:00:00,14.659091,18,11,Clear,6.900000,90.000000,False,False,False
85,2015-08-13 12:00:00,15.000000,12,12,Clear,5.800000,93.000000,False,False,False
86,2015-08-13 13:00:00,15.113636,19,13,Clear,9.200000,95.000000,False,False,False
87,2015-08-13 14:00:00,13.806818,15,14,Clear,6.900000,91.900000,False,False,False
88,2015-08-13 15:00:00,10.170455,19,15,Clear,5.800000,91.000000,False,False,False
89,2015-08-13 16:00:00,12.443182,17,16,Clear,6.900000,91.000000,False,False,False
90,2015-08-13 17:00:00,11.363636,18,17,Clear,3.500000,87.100000,False,False,False
91,2015-08-13 18:00:00,11.931818,31,18,Clear,6.900000,82.900000,False,False,False
92,2015-08-13 19:00:00,11.534091,13,19,Clear,4.600000,77.000000,False,False,False
93,2015-08-13 20:00:00,11.363636,16,20,Clear,5.800000,75.900000,False,False,False
94,2015-08-13 21:00:00,8.409091,11,21,Clear,4.600000,75.000000,False,False,False
95,2015-08-14 09:00:00,7.500000,17,9,Clear,3.500000,87.100000,False,False,False
96,2015-08-14 11:00:00,12.159091,15,11,Clear,6.900000,93.000000,False,False,False
97,2015-08-14 12:00:00,11.647727,20,12,Clear,9.200000,96.100000,False,False,False
98,2015-08-14 13:00:00,8.977273,11,13,Clear,4.600000,99.000000,False,False,False
99,2015-08-14 14:00:00,11.136364,8,14,Clear,6.900000,97.000000,False,False,False
100,2015-08-14 15:00:00,13.125000,13,15,Clear,6.900000,96.100000,False,False,False
101,2015-08-14 16:00:00,12.613636,11,16,Clear,6.900000,93.000000,False,False,False
102,2015-08-14 17:00:00,11.477273,9,17,Clear,8.100000,88.000000,False,False,False
103,2015-08-14 18:00:00,13.579545,16,18,Clear,3.500000,84.000000,False,False,False
104,2015-08-14 19:00:00,14.715909,24,19,Clear,3.500000,81.000000,False,False,False
105,2015-08-20 12:00:00,0.000000,24,12,Clear,6.900000,82.000000,False,False,False
106,2015-08-20 13:00:00,0.000000,21,13,Clear,8.100000,84.000000,False,False,False
107,2015-08-20 14:00:00,0.000000,19,14,Clear,9.200000,82.000000,False,False,False
108,2015-08-20 15:00:00,0.000000,11,15,Clear,9.200000,80.100000,False,False,False
109,2015-08-20 16:00:00,0.000000,14,16,Clear,6.900000,78.100000,False,False,False
110,2015-08-20 17:00:00,0.000000,22,17,Clear,8.100000,75.900000,False,False,False
111,2015-08-20 19:00:00,0.000000,26,19,Clear,5.800000,72.000000,False,False,False
112,2015-08-20 23:00:00,0.000000,16,23,Overcast,3.500000,71.100000,False,False,False
113,2015-08-21 10:00:00,0.000000,14,10,Overcast,3.500000,75.900000,False,False,False
114,2015-08-21 11:00:00,0.000000,18,11,Scattered Clouds,5.800000,80.100000,False,False,False
115,2015-08-21 12:00:00,0.000000,21,12,Clear,6.900000,81.000000,False,False,False
116,2015-08-21 13:00:00,0.000000,24,13,Clear,3.500000,82.000000,False,False,False
117,2015-08-21 14:00:00,0.000000,22,14,Clear,9.200000,80.100000,False,False,False
118,2015-08-21 16:00:00,0.000000,14,16,Clear,8.100000,78.100000,False,False,False
119,2015-08-21 17:00:00,0.000000,19,17,Clear,8.100000,75.000000,False,False,False
120,2015-08-21 18:00:00,0.000000,22,18,Clear,4.600000,72.000000,False,False,False
121,2015-08-21 19:00:00,0.000000,19,19,Clear,6.900000,71.100000,False,False,False
122,2015-08-21 20:00:00,0.000000,18,20,Clear,5.800000,71.100000,False,False,False
123,2015-08-21 21:00:00,0.000000,10,21,Clear,3.500000,71.100000,False,False,False
124,2015-08-21 22:00:00,0.000000,17,22,Scattered Clouds,4.600000,70.000000,False,False,False
125,2015-08-21 23:00:00,0.000000,8,23,Mostly Cloudy,3.500000,70.000000,False,False,False
126,2015-08-22 08:00:00,0.000000,9,8,Mostly Cloudy,6.900000,73.900000,True,False,True
127,2015-08-22 10:00:00,0.000000,14,10,Clear,3.500000,80.100000,True,False,True
128,2015-08-22 11:00:00,0.000000,19,11,Clear,6.900000,82.900000,True,False,True
129,2015-08-22 12:00:00,5.757576,24,12,Clear,4.600000,84.000000,True,False,True
130,2015-08-22 13:00:00,25.284091,25,13,Clear,12.700000,82.000000,True,False,True
131,2015-08-22 14:00:00,28.068182,22,14,Clear,6.900000,82.000000,True,False,True
132,2015-08-22 15:00:00,30.113636,22,15,Clear,5.800000,81.000000,True,False,True
133,2015-08-22 16:00:00,26.363636,22,16,Clear,5.800000,80.100000,True,False,True
134,2015-08-22 17:00:00,25.000000,24,17,Clear,5.800000,78.100000,True,False,True
135,2015-08-22 18:00:00,25.000000,22,18,Clear,5.800000,73.900000,True,False,True
136,2015-08-22 19:00:00,27.727273,25,19,Clear,4.600000,72.000000,True,False,True
137,2015-08-22 20:00:00,26.250000,23,20,Clear,3.500000,71.100000,True,False,True
138,2015-08-23 08:00:00,6.477273,11,8,Haze,3.500000,73.000000,True,False,True
139,2015-08-23 09:00:00,15.454545,16,9,Haze,4.633333,76.333333,True,False,True
140,2015-08-23 10:00:00,18.125000,16,10,Clear,6.900000,79.000000,True,False,True
141,2015-08-23 11:00:00,19.943182,25,11,Clear,5.800000,82.900000,True,False,True
142,2015-08-23 12:00:00,24.829545,20,12,Clear,4.600000,84.900000,True,False,True
143,2015-08-23 13:00:00,27.500000,27,13,Clear,9.200000,86.000000,True,False,True
144,2015-08-23 14:00:00,25.909091,15,14,Clear,8.100000,82.900000,True,False,True
145,2015-08-23 15:00:00,26.534091,21,15,Clear,9.200000,81.000000,True,False,True
146,2015-08-23 16:00:00,22.272727,21,16,Clear,8.100000,79.000000,True,False,True
147,2015-08-23 17:00:00,15.227273,24,17,Clear,5.800000,78.100000,True,False,True
148,2015-08-23 18:00:00,13.409091,24,18,Clear,5.800000,75.900000,True,False,True
149,2015-08-23 19:00:00,23.125000,15,19,Clear,4.600000,73.900000,True,False,True
150,2015-08-23 20:00:00,26.534091,20,20,Clear,4.600000,73.000000,True,False,True
151,2015-08-23 21:00:00,25.227273,33,21,Clear,4.600000,72.000000,True,False,True
152,2015-08-23 22:00:00,0.000000,22,22,Scattered Clouds,4.050000,71.100000,True,False,True
153,2015-08-23 23:00:00,0.000000,25,23,Overcast,4.050000,71.100000,True,False,True
154,2015-08-24 11:00:00,16.988636,11,11,Clear,10.400000,86.000000,False,False,False
155,2015-08-24 12:00:00,20.397727,22,12,Clear,6.900000,84.000000,False,False,False
156,2015-08-24 13:00:00,27.954545,15,13,Clear,9.200000,84.900000,False,False,False
157,2015-08-24 14:00:00,30.340909,10,14,Clear,8.100000,87.100000,False,False,False
158,2015-08-24 15:00:00,23.238636,17,15,Clear,8.100000,87.100000,False,False,False
159,2015-08-24 16:00:00,25.511364,9,16,Clear,8.100000,82.000000,False,False,False
160,2015-08-24 17:00:00,24.829545,18,17,Clear,6.900000,78.100000,False,False,False
161,2015-08-24 18:00:00,19.659091,24,18,Clear,4.600000,75.000000,False,False,False
162,2015-08-24 19:00:00,21.420455,17,19,Clear,4.600000,73.900000,False,False,False
163,2015-08-24 21:00:00,25.170455,29,21,Clear,6.900000,72.000000,False,False,False
164,2015-08-25 09:00:00,6.818182,11,9,Clear,4.600000,82.000000,False,False,False
165,2015-08-25 10:00:00,16.136364,12,10,Clear,5.800000,82.900000,False,False,False
166,2015-08-25 11:00:00,18.465909,16,11,Partly Cloudy,10.400000,80.100000,False,False,False
167,2015-08-25 12:00:00,17.329545,15,12,Clear,3.500000,81.000000,False,False,False
168,2015-08-25 14:00:00,23.636364,13,14,Clear,6.900000,87.100000,False,False,False
169,2015-08-25 15:00:00,26.477273,7,15,Clear,4.600000,88.000000,False,False,False
170,2015-08-25 16:00:00,22.272727,10,16,Clear,5.800000,87.100000,False,False,False
171,2015-08-25 17:00:00,20.681818,11,17,Clear,3.500000,86.000000,False,False,False
172,2015-08-25 18:00:00,18.806818,21,18,Clear,5.800000,82.000000,False,False,False
173,2015-08-25 19:00:00,18.693182,18,19,Clear,3.500000,80.100000,False,False,False
174,2015-08-26 10:00:00,15.397727,16,10,Clear,6.900000,88.000000,False,False,False
175,2015-08-26 11:00:00,23.750000,9,11,Clear,6.900000,89.100000,False,False,False
176,2015-08-26 12:00:00,23.750000,12,12,Clear,6.900000,91.000000,False,False,False
177,2015-08-26 13:00:00,20.170455,13,13,Clear,9.200000,91.900000,False,False,False
178,2015-08-26 14:00:00,19.715909,11,14,Clear,9.200000,91.900000,False,False,False
179,2015-08-26 15:00:00,15.625000,16,15,Clear,8.100000,93.000000,False,False,False
180,2015-08-26 16:00:00,14.090909,14,16,Clear,5.800000,91.900000,False,False,False
181,2015-08-26 17:00:00,14.090909,13,17,Clear,5.800000,88.000000,False,False,False
182,2015-08-26 20:00:00,22.386364,6,20,Clear,3.500000,80.100000,False,False,False
183,2015-08-26 21:00:00,19.261364,23,21,Clear,3.500000,78.100000,False,False,False
184,2015-08-27 09:00:00,6.704545,5,9,Clear,3.500000,87.100000,False,False,False
185,2015-08-27 10:00:00,10.852273,18,10,Clear,6.900000,91.000000,False,False,False
186,2015-08-27 11:00:00,9.886364,8,11,Clear,8.100000,93.000000,False,False,False
187,2015-08-27 12:00:00,9.602273,14,12,Clear,5.800000,93.900000,False,False,False
188,2015-08-27 13:00:00,8.863636,16,13,Clear,8.100000,95.000000,False,False,False
189,2015-08-27 14:00:00,8.977273,15,14,Clear,8.100000,93.900000,False,False,False
190,2015-08-27 15:00:00,9.147727,20,15,Clear,8.100000,93.000000,False,False,False
191,2015-08-27 16:00:00,10.795455,13,16,Clear,5.800000,93.000000,False,False,False
192,2015-08-27 17:00:00,10.000000,19,17,Clear,5.800000,90.000000,False,False,False
193,2015-08-27 18:00:00,9.488636,9,18,Clear,3.500000,86.000000,False,False,False
194,2015-08-27 19:00:00,10.340909,17,19,Clear,4.600000,81.000000,False,False,False
195,2015-08-27 20:00:00,9.602273,6,20,Clear,4.600000,78.100000,False,False,False
196,2015-08-27 21:00:00,7.840909,11,21,Clear,3.500000,77.000000,False,False,False
197,2015-08-27 22:00:00,3.181818,13,22,Clear,3.500000,75.900000,False,False,False
198,2015-08-29 08:00:00,2.500000,6,8,Clear,3.500000,82.900000,True,False,True
199,2015-08-29 10:00:00,8.750000,16,10,Clear,4.600000,91.900000,True,False,True
200,2015-08-29 11:00:00,13.238636,15,11,Clear,6.900000,93.000000,True,False,True
201,2015-08-29 12:00:00,12.329545,19,12,Clear,3.500000,93.000000,True,False,True
202,2015-08-29 13:00:00,12.045455,21,13,Clear,8.100000,91.900000,True,False,True
203,2015-08-29 14:00:00,11.875000,17,14,Clear,6.900000,91.000000,True,False,True
204,2015-08-29 15:00:00,11.477273,12,15,Clear,4.600000,93.000000,True,False,True
205,2015-08-29 16:00:00,12.443182,9,16,Clear,6.900000,91.000000,True,False,True
206,2015-08-29 17:00:00,10.738636,12,17,Partly Cloudy,6.950000,88.100000,True,False,True
207,2015-08-29 18:00:00,10.227273,13,18,Clear,4.600000,82.900000,True,False,True
208,2015-08-29 19:00:00,11.363636,20,19,Clear,3.500000,82.000000,True,False,True
209,2015-08-29 20:00:00,9.943182,21,20,Clear,4.600000,80.100000,True,False,True
210,2015-08-29 22:00:00,1.534091,19,22,Clear,3.500000,78.100000,True,False,True
211,2015-08-30 08:00:00,5.056818,15,8,Clear,5.800000,80.100000,True,False,True
212,2015-08-30 09:00:00,7.386364,20,9,Clear,5.800000,82.900000,True,False,True
213,2015-08-30 10:00:00,9.261364,21,10,Clear,8.100000,84.000000,True,False,True
214,2015-08-30 11:00:00,11.306818,13,11,Clear,6.900000,86.000000,True,False,True
215,2015-08-30 12:00:00,11.079545,16,12,Clear,8.100000,87.100000,True,False,True
216,2015-08-30 13:00:00,11.893939,23,13,Clear,6.900000,86.000000,True,False,True
217,2015-08-30 14:00:00,10.397727,19,14,Clear,10.400000,86.000000,True,False,True
218,2015-08-30 15:00:00,12.272727,12,15,Clear,8.100000,86.000000,True,False,True
219,2015-08-30 16:00:00,12.386364,27,16,Clear,10.400000,82.000000,True,False,True
220,2015-08-30 17:00:00,9.943182,17,17,Clear,8.100000,79.000000,True,False,True
221,2015-08-30 18:00:00,9.715909,26,18,Clear,3.500000,75.900000,True,False,True
222,2015-08-30 19:00:00,9.375000,28,19,Clear,4.600000,73.900000,True,False,True
223,2015-08-30 20:00:00,10.284091,17,20,Clear,4.600000,73.000000,True,False,True
224,2015-08-30 21:00:00,8.522727,21,21,Clear,4.600000,73.000000,True,False,True
225,2015-08-30 22:00:00,3.181818,24,22,Partly Cloudy,3.500000,72.000000,True,False,True
226,2015-08-30 23:00:00,0.000000,10,23,Scattered Clouds,3.500000,72.000000,True,False,True
227,2015-08-31 11:00:00,3.636364,16,11,Clear,10.400000,82.900000,False,False,False
228,2015-09-01 10:00:00,6.647727,6,10,Clear,6.900000,78.100000,False,False,False
229,2015-09-01 11:00:00,9.318182,16,11,Clear,6.900000,81.000000,False,False,False
230,2015-09-01 12:00:00,10.056818,10,12,Clear,6.900000,81.000000,False,False,False
231,2015-09-01 13:00:00,9.393939,5,13,Clear,8.100000,78.100000,False,False,False
232,2015-09-01 14:00:00,9.886364,11,14,Clear,9.200000,77.000000,False,False,False
233,2015-09-01 15:00:00,10.056818,19,15,Clear,8.100000,78.100000,False,False,False
234,2015-09-01 16:00:00,10.284091,15,16,Clear,8.100000,75.900000,False,False,False
235,2015-09-01 17:00:00,9.034091,22,17,Clear,8.100000,73.000000,False,False,False
236,2015-09-01 18:00:00,8.806818,20,18,Clear,8.100000,71.100000,False,False,False
237,2015-09-01 19:00:00,10.000000,23,19,Partly Cloudy,4.600000,71.100000,False,False,False
238,2015-09-02 10:00:00,7.045455,13,10,Clear,9.200000,78.100000,False,False,False
239,2015-09-02 12:00:00,9.621212,13,12,Clear,8.100000,80.100000,False,False,False
240,2015-09-02 13:00:00,10.000000,14,13,Clear,10.400000,80.100000,False,False,False
241,2015-09-02 14:00:00,11.193182,14,14,Clear,9.200000,80.100000,False,False,False

In [41]:
#export data to new database table so don't need to constantly rerun for testing
#cursor.execute("DROP TABLE IF EXISTS dl_test_cleaned"
tweetwaits.to_sql(name='ca_test_clean', con=conn, flavor='mysql', schema=None, if_exists='replace', index=True)

In [42]:
#close SQL connection
conn.close()

In [ ]:
#some EDA plots (Disneyland)
dl_df = tweetwaits
sns.set_style("whitegrid")
sns.plt.figure(1)

sns.plt.subplot(411)
#note log transforms
sns.plt.plot(dl_df['temp'], np.log(dl_df['meanwait']+1), 'o')

sns.plt.subplot(412)
sns.plt.plot(dl_df['wind'], np.log(dl_df['meanwait']+1), 'o', color='forestgreen')

sns.plt.subplot(413)
sns.plt.plot(np.log(dl_df['tweetid']+1), np.log(dl_df['meanwait']+1), 'o', color='darkred')

sns.plt.subplot(414)
sns.plt.plot(dl_df['hour'], np.log(dl_df['meanwait']+1), 'o', color='purple')
sns.plt.show()